.navbar {
  background-color: transparent;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  color: white;
}

.navLinks {
  list-style-type: none;
  display: flex;
}

.navLinks li {
  margin-right: 1rem;
}

.navLinks li a {
  color: white;
  text-decoration: none;
}

.navLinks li a:hover {
  text-decoration: underline;
}
